<div class="chat">
    <aside>
        <div>Rooms</div>
        <ul>
            <li><a href="#" id="minecraft">Minecraft</a></li>
            <li><a href="#" id="pvz">Plants vs Zombies</a></li>
            <li><a href="#" id="brawlhalla">Brawlhalla</a></li>
            <li><a href="#" id="valorant">Valorant</a></li>
        </ul>

        <div>Users in room: {{groepsnaam}}</div>
        <ul>

        </ul>
    </aside>

    <main>
        <div>
            <div>
                <a href="#" id="chatbackbutton"><svg viewBox="0 0 512 512">
                        <polygon points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 " />
                    </svg></a>
                <h2>{{groepsnaam}}</h2>
            </div>
            <button>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <ul>

        </ul>
        <form>
            <input id="input" autocomplete="off" type="text" placeholder="Type something..." /><button>Send</button>
        </form>
        <aside>
            <div></div>
            <div>
                <h3>Groepsinformatie veranderen:</h3>
                <form method="POST" action="/messages/roomimg" enctype="multipart/form-data" autocomplete="off">
                    <label>Beschrijving:
                        <input type="text" name="beschrijving" maxlength="200">
                    </label>
                    <fieldset>
                        <legend>Talen:</legend>
                            <select name="taal1">
                                <option selected></option>
                                <option id='aa'>aa</option>
                                <option id='ab'>ab</option>
                                <option id='ae'>ae</option>
                                <option id='af'>af</option>
                                <option id='ak'>ak</option>
                                <option id='am'>am</option>
                                <option id='an'>an</option>
                                <option id='ar'>ar</option>
                                <option id='as'>as</option>
                                <option id='av'>av</option>
                                <option id='ay'>ay</option>
                                <option id='az'>az</option>
                                <option id='ba'>ba</option>
                                <option id='be'>be</option>
                                <option id='bg'>bg</option>
                                <option id='bh'>bh</option>
                                <option id='bm'>bm</option>
                                <option id='bi'>bi</option>
                                <option id='bn'>bn</option>
                                <option id='bo'>bo</option>
                                <option id='br'>br</option>
                                <option id='bs'>bs</option>
                                <option id='ca'>ca</option>
                                <option id='ce'>ce</option>
                                <option id='ch'>ch</option>
                                <option id='co'>co</option>
                                <option id='cr'>cr</option>
                                <option id='cs'>cs</option>
                                <option id='cu'>cu</option>
                                <option id='cv'>cv</option>
                                <option id='cy'>cy</option>
                                <option id='da'>da</option>
                                <option id='de'>de</option>
                                <option id='dv'>dv</option>
                                <option id='dz'>dz</option>
                                <option id='ee'>ee</option>
                                <option id='el'>el</option>
                                <option id='en'>en</option>
                                <option id='eo'>eo</option>
                                <option id='es'>es</option>
                                <option id='et'>et</option>
                                <option id='eu'>eu</option>
                                <option id='fa'>fa</option>
                                <option id='ff'>ff</option>
                                <option id='fi'>fi</option>
                                <option id='fj'>fj</option>
                                <option id='fo'>fo</option>
                                <option id='fr'>fr</option>
                                <option id='fy'>fy</option>
                                <option id='ga'>ga</option>
                                <option id='gd'>gd</option>
                                <option id='gl'>gl</option>
                                <option id='gn'>gn</option>
                                <option id='gu'>gu</option>
                                <option id='gv'>gv</option>
                                <option id='ha'>ha</option>
                                <option id='he'>he</option>
                                <option id='hi'>hi</option>
                                <option id='ho'>ho</option>
                                <option id='hr'>hr</option>
                                <option id='ht'>ht</option>
                                <option id='hu'>hu</option>
                                <option id='hy'>hy</option>
                                <option id='hz'>hz</option>
                                <option id='ia'>ia</option>
                                <option id='id'>id</option>
                                <option id='ie'>ie</option>
                                <option id='ig'>ig</option>
                                <option id='ii'>ii</option>
                                <option id='ik'>ik</option>
                                <option id='io'>io</option>
                                <option id='is'>is</option>
                                <option id='it'>it</option>
                                <option id='iu'>iu</option>
                                <option id='ja'>ja</option>
                                <option id='jv'>jv</option>
                                <option id='ka'>ka</option>
                                <option id='kg'>kg</option>
                                <option id='ki'>ki</option>
                                <option id='kj'>kj</option>
                                <option id='kk'>kk</option>
                                <option id='kl'>kl</option>
                                <option id='km'>km</option>
                                <option id='kn'>kn</option>
                                <option id='ko'>ko</option>
                                <option id='kr'>kr</option>
                                <option id='ks'>ks</option>
                                <option id='ku'>ku</option>
                                <option id='kv'>kv</option>
                                <option id='kw'>kw</option>
                                <option id='ky'>ky</option>
                                <option id='la'>la</option>
                                <option id='lb'>lb</option>
                                <option id='lg'>lg</option>
                                <option id='li'>li</option>
                                <option id='ln'>ln</option>
                                <option id='lo'>lo</option>
                                <option id='lt'>lt</option>
                                <option id='lu'>lu</option>
                                <option id='lv'>lv</option>
                                <option id='mg'>mg</option>
                                <option id='mh'>mh</option>
                                <option id='mi'>mi</option>
                                <option id='mk'>mk</option>
                                <option id='ml'>ml</option>
                                <option id='mn'>mn</option>
                                <option id='mr'>mr</option>
                                <option id='ms'>ms</option>
                                <option id='mt'>mt</option>
                                <option id='my'>my</option>
                                <option id='na'>na</option>
                                <option id='nb'>nb</option>
                                <option id='nd'>nd</option>
                                <option id='ne'>ne</option>
                                <option id='ng'>ng</option>
                                <option id='nl'>nl</option>
                                <option id='nn'>nn</option>
                                <option id='no'>no</option>
                                <option id='nr'>nr</option>
                                <option id='nv'>nv</option>
                                <option id='ny'>ny</option>
                                <option id='oc'>oc</option>
                                <option id='oj'>oj</option>
                                <option id='om'>om</option>
                                <option id='or'>or</option>
                                <option id='os'>os</option>
                                <option id='pa'>pa</option>
                                <option id='pi'>pi</option>
                                <option id='pl'>pl</option>
                                <option id='ps'>ps</option>
                                <option id='pt'>pt</option>
                                <option id='qu'>qu</option>
                                <option id='rm'>rm</option>
                                <option id='rn'>rn</option>
                                <option id='ro'>ro</option>
                                <option id='ru'>ru</option>
                                <option id='rw'>rw</option>
                                <option id='sa'>sa</option>
                                <option id='sc'>sc</option>
                                <option id='sd'>sd</option>
                                <option id='se'>se</option>
                                <option id='sg'>sg</option>
                                <option id='si'>si</option>
                                <option id='sk'>sk</option>
                                <option id='sl'>sl</option>
                                <option id='sm'>sm</option>
                                <option id='sn'>sn</option>
                                <option id='so'>so</option>
                                <option id='sq'>sq</option>
                                <option id='sr'>sr</option>
                                <option id='ss'>ss</option>
                                <option id='st'>st</option>
                                <option id='su'>su</option>
                                <option id='sv'>sv</option>
                                <option id='sw'>sw</option>
                                <option id='ta'>ta</option>
                                <option id='te'>te</option>
                                <option id='tg'>tg</option>
                                <option id='th'>th</option>
                                <option id='ti'>ti</option>
                                <option id='tk'>tk</option>
                                <option id='tl'>tl</option>
                                <option id='tn'>tn</option>
                                <option id='to'>to</option>
                                <option id='tr'>tr</option>
                                <option id='ts'>ts</option>
                                <option id='tt'>tt</option>
                                <option id='tw'>tw</option>
                                <option id='ty'>ty</option>
                                <option id='ug'>ug</option>
                                <option id='uk'>uk</option>
                                <option id='ur'>ur</option>
                                <option id='uz'>uz</option>
                                <option id='ve'>ve</option>
                                <option id='vi'>vi</option>
                                <option id='vo'>vo</option>
                                <option id='wa'>wa</option>
                                <option id='wo'>wo</option>
                                <option id='xh'>xh</option>
                                <option id='yi'>yi</option>
                                <option id='yo'>yo</option>
                                <option id='za'>za</option>
                                <option id='zh'>zh</option>
                            </select>

                        <select name="taal2">
                            <option selected></option>
                            <option id='aa'>aa</option>
                            <option id='ab'>ab</option>
                            <option id='ae'>ae</option>
                            <option id='af'>af</option>
                            <option id='ak'>ak</option>
                            <option id='am'>am</option>
                            <option id='an'>an</option>
                            <option id='ar'>ar</option>
                            <option id='as'>as</option>
                            <option id='av'>av</option>
                            <option id='ay'>ay</option>
                            <option id='az'>az</option>
                            <option id='ba'>ba</option>
                            <option id='be'>be</option>
                            <option id='bg'>bg</option>
                            <option id='bh'>bh</option>
                            <option id='bm'>bm</option>
                            <option id='bi'>bi</option>
                            <option id='bn'>bn</option>
                            <option id='bo'>bo</option>
                            <option id='br'>br</option>
                            <option id='bs'>bs</option>
                            <option id='ca'>ca</option>
                            <option id='ce'>ce</option>
                            <option id='ch'>ch</option>
                            <option id='co'>co</option>
                            <option id='cr'>cr</option>
                            <option id='cs'>cs</option>
                            <option id='cu'>cu</option>
                            <option id='cv'>cv</option>
                            <option id='cy'>cy</option>
                            <option id='da'>da</option>
                            <option id='de'>de</option>
                            <option id='dv'>dv</option>
                            <option id='dz'>dz</option>
                            <option id='ee'>ee</option>
                            <option id='el'>el</option>
                            <option id='en'>en</option>
                            <option id='eo'>eo</option>
                            <option id='es'>es</option>
                            <option id='et'>et</option>
                            <option id='eu'>eu</option>
                            <option id='fa'>fa</option>
                            <option id='ff'>ff</option>
                            <option id='fi'>fi</option>
                            <option id='fj'>fj</option>
                            <option id='fo'>fo</option>
                            <option id='fr'>fr</option>
                            <option id='fy'>fy</option>
                            <option id='ga'>ga</option>
                            <option id='gd'>gd</option>
                            <option id='gl'>gl</option>
                            <option id='gn'>gn</option>
                            <option id='gu'>gu</option>
                            <option id='gv'>gv</option>
                            <option id='ha'>ha</option>
                            <option id='he'>he</option>
                            <option id='hi'>hi</option>
                            <option id='ho'>ho</option>
                            <option id='hr'>hr</option>
                            <option id='ht'>ht</option>
                            <option id='hu'>hu</option>
                            <option id='hy'>hy</option>
                            <option id='hz'>hz</option>
                            <option id='ia'>ia</option>
                            <option id='id'>id</option>
                            <option id='ie'>ie</option>
                            <option id='ig'>ig</option>
                            <option id='ii'>ii</option>
                            <option id='ik'>ik</option>
                            <option id='io'>io</option>
                            <option id='is'>is</option>
                            <option id='it'>it</option>
                            <option id='iu'>iu</option>
                            <option id='ja'>ja</option>
                            <option id='jv'>jv</option>
                            <option id='ka'>ka</option>
                            <option id='kg'>kg</option>
                            <option id='ki'>ki</option>
                            <option id='kj'>kj</option>
                            <option id='kk'>kk</option>
                            <option id='kl'>kl</option>
                            <option id='km'>km</option>
                            <option id='kn'>kn</option>
                            <option id='ko'>ko</option>
                            <option id='kr'>kr</option>
                            <option id='ks'>ks</option>
                            <option id='ku'>ku</option>
                            <option id='kv'>kv</option>
                            <option id='kw'>kw</option>
                            <option id='ky'>ky</option>
                            <option id='la'>la</option>
                            <option id='lb'>lb</option>
                            <option id='lg'>lg</option>
                            <option id='li'>li</option>
                            <option id='ln'>ln</option>
                            <option id='lo'>lo</option>
                            <option id='lt'>lt</option>
                            <option id='lu'>lu</option>
                            <option id='lv'>lv</option>
                            <option id='mg'>mg</option>
                            <option id='mh'>mh</option>
                            <option id='mi'>mi</option>
                            <option id='mk'>mk</option>
                            <option id='ml'>ml</option>
                            <option id='mn'>mn</option>
                            <option id='mr'>mr</option>
                            <option id='ms'>ms</option>
                            <option id='mt'>mt</option>
                            <option id='my'>my</option>
                            <option id='na'>na</option>
                            <option id='nb'>nb</option>
                            <option id='nd'>nd</option>
                            <option id='ne'>ne</option>
                            <option id='ng'>ng</option>
                            <option id='nl'>nl</option>
                            <option id='nn'>nn</option>
                            <option id='no'>no</option>
                            <option id='nr'>nr</option>
                            <option id='nv'>nv</option>
                            <option id='ny'>ny</option>
                            <option id='oc'>oc</option>
                            <option id='oj'>oj</option>
                            <option id='om'>om</option>
                            <option id='or'>or</option>
                            <option id='os'>os</option>
                            <option id='pa'>pa</option>
                            <option id='pi'>pi</option>
                            <option id='pl'>pl</option>
                            <option id='ps'>ps</option>
                            <option id='pt'>pt</option>
                            <option id='qu'>qu</option>
                            <option id='rm'>rm</option>
                            <option id='rn'>rn</option>
                            <option id='ro'>ro</option>
                            <option id='ru'>ru</option>
                            <option id='rw'>rw</option>
                            <option id='sa'>sa</option>
                            <option id='sc'>sc</option>
                            <option id='sd'>sd</option>
                            <option id='se'>se</option>
                            <option id='sg'>sg</option>
                            <option id='si'>si</option>
                            <option id='sk'>sk</option>
                            <option id='sl'>sl</option>
                            <option id='sm'>sm</option>
                            <option id='sn'>sn</option>
                            <option id='so'>so</option>
                            <option id='sq'>sq</option>
                            <option id='sr'>sr</option>
                            <option id='ss'>ss</option>
                            <option id='st'>st</option>
                            <option id='su'>su</option>
                            <option id='sv'>sv</option>
                            <option id='sw'>sw</option>
                            <option id='ta'>ta</option>
                            <option id='te'>te</option>
                            <option id='tg'>tg</option>
                            <option id='th'>th</option>
                            <option id='ti'>ti</option>
                            <option id='tk'>tk</option>
                            <option id='tl'>tl</option>
                            <option id='tn'>tn</option>
                            <option id='to'>to</option>
                            <option id='tr'>tr</option>
                            <option id='ts'>ts</option>
                            <option id='tt'>tt</option>
                            <option id='tw'>tw</option>
                            <option id='ty'>ty</option>
                            <option id='ug'>ug</option>
                            <option id='uk'>uk</option>
                            <option id='ur'>ur</option>
                            <option id='uz'>uz</option>
                            <option id='ve'>ve</option>
                            <option id='vi'>vi</option>
                            <option id='vo'>vo</option>
                            <option id='wa'>wa</option>
                            <option id='wo'>wo</option>
                            <option id='xh'>xh</option>
                            <option id='yi'>yi</option>
                            <option id='yo'>yo</option>
                            <option id='za'>za</option>
                            <option id='zh'>zh</option>
                        </select>

                            <select name="taal3">
                                <option selected></option>
                                <option id='aa'>aa</option>
                                <option id='ab'>ab</option>
                                <option id='ae'>ae</option>
                                <option id='af'>af</option>
                                <option id='ak'>ak</option>
                                <option id='am'>am</option>
                                <option id='an'>an</option>
                                <option id='ar'>ar</option>
                                <option id='as'>as</option>
                                <option id='av'>av</option>
                                <option id='ay'>ay</option>
                                <option id='az'>az</option>
                                <option id='ba'>ba</option>
                                <option id='be'>be</option>
                                <option id='bg'>bg</option>
                                <option id='bh'>bh</option>
                                <option id='bm'>bm</option>
                                <option id='bi'>bi</option>
                                <option id='bn'>bn</option>
                                <option id='bo'>bo</option>
                                <option id='br'>br</option>
                                <option id='bs'>bs</option>
                                <option id='ca'>ca</option>
                                <option id='ce'>ce</option>
                                <option id='ch'>ch</option>
                                <option id='co'>co</option>
                                <option id='cr'>cr</option>
                                <option id='cs'>cs</option>
                                <option id='cu'>cu</option>
                                <option id='cv'>cv</option>
                                <option id='cy'>cy</option>
                                <option id='da'>da</option>
                                <option id='de'>de</option>
                                <option id='dv'>dv</option>
                                <option id='dz'>dz</option>
                                <option id='ee'>ee</option>
                                <option id='el'>el</option>
                                <option id='en'>en</option>
                                <option id='eo'>eo</option>
                                <option id='es'>es</option>
                                <option id='et'>et</option>
                                <option id='eu'>eu</option>
                                <option id='fa'>fa</option>
                                <option id='ff'>ff</option>
                                <option id='fi'>fi</option>
                                <option id='fj'>fj</option>
                                <option id='fo'>fo</option>
                                <option id='fr'>fr</option>
                                <option id='fy'>fy</option>
                                <option id='ga'>ga</option>
                                <option id='gd'>gd</option>
                                <option id='gl'>gl</option>
                                <option id='gn'>gn</option>
                                <option id='gu'>gu</option>
                                <option id='gv'>gv</option>
                                <option id='ha'>ha</option>
                                <option id='he'>he</option>
                                <option id='hi'>hi</option>
                                <option id='ho'>ho</option>
                                <option id='hr'>hr</option>
                                <option id='ht'>ht</option>
                                <option id='hu'>hu</option>
                                <option id='hy'>hy</option>
                                <option id='hz'>hz</option>
                                <option id='ia'>ia</option>
                                <option id='id'>id</option>
                                <option id='ie'>ie</option>
                                <option id='ig'>ig</option>
                                <option id='ii'>ii</option>
                                <option id='ik'>ik</option>
                                <option id='io'>io</option>
                                <option id='is'>is</option>
                                <option id='it'>it</option>
                                <option id='iu'>iu</option>
                                <option id='ja'>ja</option>
                                <option id='jv'>jv</option>
                                <option id='ka'>ka</option>
                                <option id='kg'>kg</option>
                                <option id='ki'>ki</option>
                                <option id='kj'>kj</option>
                                <option id='kk'>kk</option>
                                <option id='kl'>kl</option>
                                <option id='km'>km</option>
                                <option id='kn'>kn</option>
                                <option id='ko'>ko</option>
                                <option id='kr'>kr</option>
                                <option id='ks'>ks</option>
                                <option id='ku'>ku</option>
                                <option id='kv'>kv</option>
                                <option id='kw'>kw</option>
                                <option id='ky'>ky</option>
                                <option id='la'>la</option>
                                <option id='lb'>lb</option>
                                <option id='lg'>lg</option>
                                <option id='li'>li</option>
                                <option id='ln'>ln</option>
                                <option id='lo'>lo</option>
                                <option id='lt'>lt</option>
                                <option id='lu'>lu</option>
                                <option id='lv'>lv</option>
                                <option id='mg'>mg</option>
                                <option id='mh'>mh</option>
                                <option id='mi'>mi</option>
                                <option id='mk'>mk</option>
                                <option id='ml'>ml</option>
                                <option id='mn'>mn</option>
                                <option id='mr'>mr</option>
                                <option id='ms'>ms</option>
                                <option id='mt'>mt</option>
                                <option id='my'>my</option>
                                <option id='na'>na</option>
                                <option id='nb'>nb</option>
                                <option id='nd'>nd</option>
                                <option id='ne'>ne</option>
                                <option id='ng'>ng</option>
                                <option id='nl'>nl</option>
                                <option id='nn'>nn</option>
                                <option id='no'>no</option>
                                <option id='nr'>nr</option>
                                <option id='nv'>nv</option>
                                <option id='ny'>ny</option>
                                <option id='oc'>oc</option>
                                <option id='oj'>oj</option>
                                <option id='om'>om</option>
                                <option id='or'>or</option>
                                <option id='os'>os</option>
                                <option id='pa'>pa</option>
                                <option id='pi'>pi</option>
                                <option id='pl'>pl</option>
                                <option id='ps'>ps</option>
                                <option id='pt'>pt</option>
                                <option id='qu'>qu</option>
                                <option id='rm'>rm</option>
                                <option id='rn'>rn</option>
                                <option id='ro'>ro</option>
                                <option id='ru'>ru</option>
                                <option id='rw'>rw</option>
                                <option id='sa'>sa</option>
                                <option id='sc'>sc</option>
                                <option id='sd'>sd</option>
                                <option id='se'>se</option>
                                <option id='sg'>sg</option>
                                <option id='si'>si</option>
                                <option id='sk'>sk</option>
                                <option id='sl'>sl</option>
                                <option id='sm'>sm</option>
                                <option id='sn'>sn</option>
                                <option id='so'>so</option>
                                <option id='sq'>sq</option>
                                <option id='sr'>sr</option>
                                <option id='ss'>ss</option>
                                <option id='st'>st</option>
                                <option id='su'>su</option>
                                <option id='sv'>sv</option>
                                <option id='sw'>sw</option>
                                <option id='ta'>ta</option>
                                <option id='te'>te</option>
                                <option id='tg'>tg</option>
                                <option id='th'>th</option>
                                <option id='ti'>ti</option>
                                <option id='tk'>tk</option>
                                <option id='tl'>tl</option>
                                <option id='tn'>tn</option>
                                <option id='to'>to</option>
                                <option id='tr'>tr</option>
                                <option id='ts'>ts</option>
                                <option id='tt'>tt</option>
                                <option id='tw'>tw</option>
                                <option id='ty'>ty</option>
                                <option id='ug'>ug</option>
                                <option id='uk'>uk</option>
                                <option id='ur'>ur</option>
                                <option id='uz'>uz</option>
                                <option id='ve'>ve</option>
                                <option id='vi'>vi</option>
                                <option id='vo'>vo</option>
                                <option id='wa'>wa</option>
                                <option id='wo'>wo</option>
                                <option id='xh'>xh</option>
                                <option id='yi'>yi</option>
                                <option id='yo'>yo</option>
                                <option id='za'>za</option>
                                <option id='zh'>zh</option>
                            </select>

                    </fieldset>
                    <label>
                        <input type="file" name="groepimg" accept="image/*">
                    </label>
                    <input type="submit">
                </form>
            </div>
        </aside>
    </main>
</div>

{{!-- script om username en room uit url te halen --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.3/qs.js"
    integrity="sha512-Qv1OSKmVsG3Y4WAKqvlcL/KllfceErp2+ZfNsQtox5nZtQKL86CVfbjmak7A+ka3jo7BwvFXa47vHEBs8QKq7Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>