{{> header}}
<section class="error">
    <h1>ERROR 404</h1>
    <h2>Page not found..</h2>
    
    <ul>
        <li>Back to previous page</li>
        <li><a href="/login">To login page</a></li>
        <li><a href="/register">To register page</a></li>     
    </ul>
</section>
{{> footer}}