<main id="login">
   
   <section class="container">

            <form action="login" method="POST" >

                <h1>Login</h1>
                    <fieldset>
                        <input type="email" name="email" id="email" placeholder="E-mail" required>
                        <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" required>
                    </fieldset>
                <input type="submit" value="Login">

            </form>

    </section>

</main>