<main id="signup">
   
   <section class="container">

            <form action="signup" method="POST" >

                <h1>Create Account</h1>
                    <fieldset>
                        <div>
                            <input type="text" name="name" id="name" placeholder="Name" required>
                            <input type="email" name="email" id="email" placeholder="E-mail" required>
                            <input type="file" name="image" id="image" required>
                            <select name="language" id="language" required>
                                <option value="Nederlands" placeholder="Nederlands">Nederlands</option>
                                <option value="Engels">Engels</option>
                                <option value="Engels">Duits</option>
                                <option value="Chinees">Chinees</option>
                            </select>
                        </div>
                        <div>
                            <input type="text" name="username" id="username" placeholder="Username" autocomplete="off" required>
                            <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" required>
                            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" autocomplete="off" required>
                        </div>    
                    </fieldset>
                <input type="submit" value="Sign up" id="form-signup">

            </form>

    </section>

</main>