<section class="register">
  <form action="/register" method="POST">

    <h1>Register</h1>
    {{#if  messages.error}}
      {{messages.error}}
    {{/if}}

    <div>
      <input type="text" name="name" id="name" placeholder="Name" required />
      <input type="email" name="email" id="email" placeholder="Email" required />
      <input type="number" name="age" id="age" placeholder="Age" min="18" max="100" required />
      <input type="text" name="residence" id="residence" placeholder="Residence" required/>

      <select name="language">
        <option value="en">English</option>
        <option value="nl">Nederlands</option>
        <option value="ch">中國人</option>
      </select>
    </div>
    <div>
      <input type="text" name="username" id="username" placeholder="Username" autocomplete="off" required/>
      <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" required/>
      <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" autocomplete="off" required/>
    </div>

    <input type="submit" value="Sign up" />

    <a href="/login">Login</a>
  </form>
</section>