/*****************************
chat (messages)
*****************************/
.chat main {
    width: calc(70% - 2px);
    /* -2px voor de border van sidebar */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: var(--achtergrond);
    overflow: hidden;
}

.chat main>ul {
    height: calc(100% - 7.75em - 1px);
    /* som van header en form + padding + header border */
    width: calc(100% - 2em);
    padding: 0 1em;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-x: hidden;
}

.chat main>ul li {
    background: var(--achtergrond);
    align-self: start;
    position: relative;
    font-size: 1rem;
    padding: 0.5em 1em;
    width: 80%;
    border: solid 1px var(--tekst);
    border-radius: 3em;
    border-bottom-left-radius: 0;
    color: var(--tekst);
}

.chat main>ul>li.yourmsg {
    align-self: end;
    background: var(--yourmsg);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3em;
}

.chat main>ul>li.servermsg {
    align-self: center;
    background: var(--achtergrond);
    color: var(--tekst);
    border-color: var(--servermsg);
    width: 40%;
    text-align: center;
}

.chat main>ul>li.servermsg div {
    justify-content: center;
}

.chat main>ul>li:first-of-type {
    margin-top: 1em;
}

.chat main>ul>li:last-of-type {
    margin-bottom: 1em;
}

.chat main>ul>li div {
    display: flex;
    gap: .5em;
}

.chat main>ul>li div strong {
    font-size: .8rem;
}

.chat main>ul>li div small {
    font-size: .7rem;
}

.chat main>ul>li svg {
    fill: var(--tekst);
    display: none;
    position: absolute;
    right: -1.1em;
    top: .5em;
    width: 3em;
}

.chat main>ul>li.yourmsg:hover svg,
.chat main>ul>li.yourmsg:focus svg {
    display: inline;
}



/*****************************
chat (sidebar)
*****************************/
.chat>aside {
    background: var(--achtergrond);
    overflow-x: hidden;
    width: 30%;
    height: 100%;
    border-right: var(--tekst) solid 2px;
    position: absolute;
    left: 0;
}

.chat>aside>div {
    color: var(--tekst);
    font-size: 1.2rem;
    max-height: 2em;
    padding: 1em;
    border-bottom: var(--accentkleur) 2px solid;
    border-top: var(--accentkleur) 2px solid;
}
.chat>aside>a {
    padding: 0 0.6em;
    font-size: 1rem;
    color: var(--achtergrond);
    background-color: var(--accentkleur);
    text-decoration: none;
}

.chat>aside ul {
    width: 100%;
    overflow-y: auto;
    height: calc(50% - 4.29em);
}

.chat>aside ul::-webkit-scrollbar {
    width: .8em;
}

/* Track */
.chat>aside ul::-webkit-scrollbar-track {
    background: var(--secundair);
    border-radius: 100em;
    box-shadow: 0 0 5px var(--tekst);
}

/* Handle */
.chat>aside ul::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 100em;
}

/* Handle on hover */
.chat>aside ul::-webkit-scrollbar-thumb:hover {
    background: var(--tertiair);
}

.chat>aside ul:first-of-type li {
    display: inline-block;
    border-bottom: solid 1px var(--tekst);
    transition: all .15s;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: all .2s ease-in-out;
}

.chat>aside ul li:not(:first-of-type) {
    border-top: solid 1px var(--tekst);
}

.chat>aside ul:first-of-type li a {
    padding: 2em 0;
    display: block;
    height: 1em;
    text-decoration: none;
    color: var(--tekst);
}

.chat>aside ul:first-of-type li:hover,
.chat>aside ul:first-of-type li:focus-within {
    background: var(--accentkleur);
    color: var(--wit);
}

.chat>aside ul:first-of-type li span {
    display: block;
}

.chat>aside ul:last-of-type li {
    color: var(--tekst);
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2em);
    height: 2em;
    border-bottom: 1px var(--tekst) solid;
    padding: 1em;
}

.chat main>form {
    position: absolute;
    right: 0;
    background: var(--secundair);
    height: 2.75em;
    width: calc(100% - 1em);
    padding: .5em;
    display: flex;
}

.chat main>form input[type=text] {
    background: var(--tertiair);
    color: var(--tekst);
    border: none;
    padding: 0 1em;
    flex-grow: 1;
    border-radius: 999em;
    margin: .3em;
}

.chat main>form input[type=text]:focus {
    border: var(--tekst) 2px solid;
    outline: none;
}

.chat main>form>button {
    background: var(--accentkleur);
    border: none;
    padding: 0 2em;
    margin: 0.25em;
    border-radius: .2em;
    outline: none;
    color: var(--wit);
}

.chat main>form>button:hover,
.chat main>form>button:focus {
    transform: scale(1.03);
    cursor: pointer;
    border: solid 1px var(--tekst);
}



/*****************************
chat (header)
*****************************/
.chat main>div:first-of-type {
    height: 4em;
    background: var(--achtergrond);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--tekst);
}

.chat main>div:first-of-type>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat main>div:first-of-type h1 {
    color: var(--tekst);
    font-weight: normal;
    font-size: 1.5rem;
    margin-left: 1em;
}

.chat main>div:first-of-type svg {
    display: none;
}

.chat main>div:first-of-type button {
    width: 2.7em;
    height: 2.7em;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-right: 1em;
    padding: .4em
}

/* kleur nog aanpassen voor beide themes */
.chat main>div:first-of-type button:hover,
.chat main>div:first-of-type button:focus {
    background: rgba(0, 0, 0, 0.8);
}

.chat main>div:first-of-type button span {
    width: .4em;
    height: .4em;
    border-radius: 50%;
    background: var(--tekst);
}



/*****************************
chat main aside (roominfo)
*****************************/
.chat main>aside {
    width: 0;
    height: calc(100% - 4em);
    /* 4em is height van header */
    background: var(--yourmsg);
    position: absolute;
    top: 4em;
    right: 0;
    transition: all .3s ease-in-out;
    overflow-y: auto;
}

.chat main>aside div {
    max-width: 60%;
    margin: auto;
}

.chat main>aside div:first-of-type {
    margin: 2em auto;
}


.chat main>aside div:first-of-type img {
    max-height: 20em;
    max-width: 20em;
    margin: auto;
    display: block;
    border-radius: 2em;
    border: 0.2em solid var(--accentkleur);
}

.chat main>aside div:first-of-type h2 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 200;
}

.chat main>aside div:first-of-type p:first-of-type {
    text-align: center;
    padding: .5em 0;
    margin: .4em auto;
    border-top: 1px solid var(--wit);
    border-bottom: 1px solid var(--wit);
}

.chat main>aside div:nth-of-type(2) h3 {
    font-size: 1.1em;
    margin-bottom: .2em;
}

.chat main>aside div:nth-of-type(2) input[type=text] {
    width: 100%;
    margin-bottom: 1em;
}

.chat main>aside div:nth-of-type(2) fieldset {
    margin-bottom: 1em;
    padding: .5em;
    border: solid 1px var(--tekst);
}

.chat main>aside div:nth-of-type(2) input[type=submit] {
    background: var(--zwart);
    border: none;
    border-radius: 0.2em;
    color: var(--wit);
}



.chat main>aside.active {
    width: 100%;
}


/*****************************
mobile styles, media query   
*****************************/
@media only screen and (max-width: 768px) {
    .chat main {
        width: 100%;
        top: 0;
        bottom: 0;
    }

    .chat>aside {
        width: 0%;
        background: var(--achtergrond);
        transition: all .3s;
        border: none;
    }

    .chat>aside.active {
        width: 100%;
        z-index: 10;
    }

    .chat main>ul li {
        font-size: 1.1rem;
    }

    .chat main>div:first-of-type h1 {
        margin-left: .3em;
    }

    .chat main>div:first-of-type svg {
        display: inline;
        width: 2.5em;
    }

    .chat main>div:first-of-type svg polygon {
        fill: var(--tekst);
    }
}