/*****************************
filters section 1 (filters)
*****************************/
/***********
filters section 1 (filters)
***********/
.filter h1 {
  visibility: hidden;
  font-size: 0.1em;
}
.filter section:first-of-type {
  margin: 2em;
}

.filter section:first-of-type h3 {
  color: var(--tekst);
  text-align: center;
  margin: 0.5em;
  padding: 0.5em;
}

.filter section:first-of-type form {
  color: var(--tekst);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.filter section:first-of-type fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filter .selector{
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 1em;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 15px;
  background-color: rgb(230, 230, 230);
  align-items: center;
}

.filter .selector div{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43%;
  margin: 10px;
}

.filter .selector div input{
  appearance:none;
  display:none;
  cursor: pointer;
}

.filter .selector div label{
  position: relative;
  text-align: center;
  transition-duration: .5s;
  cursor: pointer;
  padding: 10px;
  background: #fafafa;
  border-radius: 5px;
  min-width: 150px;
}

.filter .selector div label:hover{
  background-color: #000;
  color: #fff;
  transition-duration: .5s;
}


.filter .selector div input:checked + .selector-item_label{
  background: #000;
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 10px;
}

.filter section:first-of-type input[type="text"] {
  padding: 0.5em 2em;
  font-weight: bold;
  border-radius: 2em;
  border: 0.2em solid var(--accentkleur);
  background-color: var(--achtergrond);
  color: var(--tekst);
}

.filter section:first-of-type input[type="submit"] {
  cursor: pointer;
  width: 150px;
  height: 35px;
  background: #000;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 5px;
}
.filter section:first-of-type input[type="submit"]:hover {
  opacity: 0.7;
}



/*****************************
Filters section 2 (resultaten)
*****************************/
.filter section:nth-of-type(2) {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}

.filter section:nth-of-type(2) h2 {
  color: var(--tekst);
}

.filter section:nth-of-type(2) ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 2em;
  width: 100%;
}

.filter section:nth-of-type(2) ul li {
  background-color: var(--secundair);
  width: 100%;
  border-radius: 1em;
  border: solid 0.05em var(--accentkleur);
  text-decoration: none;
  height: 100%;
  padding: 1.25em;
}

.filter .roomsection a{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  text-decoration: underline;
  text-decoration-color: #000;
}

.filter section:nth-of-type(2) ul li a div h3, .filter section:nth-of-type(2) ul li a div h4 {
  font-size: 1.2em;
  color: #000;
}

.filter section:nth-of-type(2) ul li a div button {
  padding: 0.5em 1.5em;
  margin: 1em 4.5em 0em;
  font-size: 0.9em;
}

.sectionfadein {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.filter .background-img-filter{
  width: 100%;
  max-width: 350px;
  border-radius: 20px;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1em;
}


.roomsection div{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/*****************************
mobile styles, media query   
*****************************/

@media (min-width: 992px) {
  .filter section:nth-of-type(2) ul li {
    background-color: var(--secundair);
    width: 16em;
    height: 20.5em;
    border-radius: 1em;
    border: solid 0.1em var(--accentkleur);
  }
}

@media (max-width:480px) {
  .selector{
    width: 90%;
  }
}

@keyframes fadeIn {
  0% {
      transform: translateY(20%);
      opacity: 0;
}
  100%{
      transform: translateY(0);
      opacity: 1;
  }
}
