/*****************************
login (wordt niet gebruikt)
*****************************/
.login {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: var(--achtergrond);
    justify-content: center;
    align-items: center;
}

.login form {
    display: flex;
    flex-direction: column;
    background: var(--loginform);
    padding: 3em;
    border-radius: 1em;
    gap: 2em;
}

.login form h2 {
    font-weight: normal;
    align-self: center;
    font-size: 1.8rem;
}

.login form label {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: .1em;
    position: relative;
}

.login form label input, 
.login form label select {
    background: var(--achtergrond);
    color: var(--tekst);
    border: solid 2px var(--achtergrond);
    border-radius: 100em;
    font-size: 1.2rem;
    padding: .5em;
}

.login form label input::placeholder,
.chat main > form input[type=text]::placeholder {
    color: var(--placeholder);
}

.login form label input:focus::placeholder,
.chat main > form input[type=text]:focus::placeholder {
    color: transparent;
}

.login *:focus {
    outline: dashed 3px var(--accentkleur);
    border-color: transparent;
    background: var(--tertiair)
}

.login form label select {
    appearance: none;
}

.login form label svg {
    width: 1em;
    position: absolute;
    right: .5em;
    top: 55%;
    pointer-events: none;
}

.login form label svg path {
    fill: var(--tekst);
}

.login form input[type=submit] {
    width: 50%;
    align-self: center;
    font-size: 1.1rem;
    cursor: pointer;
    background: var(--achtergrond);
    border: solid 2px var(--accentkleur);
    color: var(--tekst);
    border-radius: 100em;
    padding: .75em 1.5em;
    transition: all .2s ease-in-out;
}

.login form input[type=submit]:hover, 
.login form input[type=submit]:hover {
    background: var(--accentkleur);
    color: var(--wit);
}