* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: -apple-system, Arial, Segoe UI, Roboto, Helvetica, BlinkMacSystemFont, sans-serif;
}

:root {
    --achtergrond: #fff;
    --secundair: gainsboro;
    --tertiair: #fff;

    --messageform: #D3D3D3;
    --loginform: #8fceff;

    --yourmsg: lightblue;
    --servermsg: #b00020;

    --tekst: #000;
    --tekstalt: #fff;
    --placeholder: #a9a9a9;
    
    --accentkleur: #2568FB;

    --zwart: #000;
    --wit: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --achtergrond: #262626;
        --secundair: #333333;
        --tertiair: #404040;
        
        --loginform: #8fceff;
        --messageform: #D3D3D3;

        --yourmsg: #2568FB;
        --servermsg: #cf6679;
    
        --tekst: #fff;
        --tekstalt: #000;
        --placeholder: #c3c3c3;
    }
}

body {
    background: var(--achtergrond);
}


/* container voor paginas */
body > div {
    min-width: fit-content;
}


