* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'PT Sans', sans-serif;
}

:root {
    --achtergrond: #fff;
    --secundair: rgb(230, 230, 230);
    --tertiair: #fff;

    --messageform: rgb(230, 230, 230);
    --loginform: #8fceff;

    --yourmsg: lightblue;
    --servermsg: #b00020;

    --tekst: #000;
    --tekstalt: #fff;
    --placeholder: #a9a9a9;
    --rgba: rgba(230, 230, 230, 0.9);
    
    --accentkleur: #2568FB;

    --zwart: #000;
    --wit: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --achtergrond: #262626;
        --secundair: rgb(230, 230, 230);
        --tertiair: #404040;
        
        --loginform: #8fceff;
        --messageform: #333333;

        --yourmsg: #2568FB;
        --servermsg: #cf6679;
    
        --tekst: #fff;
        --tekstalt: #000;
        --placeholder: #c3c3c3;
        --rgba: rgba(0, 0, 0, 0.8);
    }
}

body {
    background: var(--achtergrond);
}